<img src="/img/yelredblu.png" alt="target">


<form action="/profile/<%= aims.id %>" method="post" class="edit-form" role="form">
  <div class="form-group">
   
    <label for="name" class="black-text"><<h5>EDIT AIM</h5></label>
    <input type="text" class="form-control" id="aim" placeholder="Objective" name="aim" value="<%= aims.objective %>">
  </div>
  <div class="form-group">
    <% aims.fires.forEach(function(fire) { %>
      <label for="name" class="black-text"><h5>EDIT FIRE</h5></label>
      <input type="text" class="form-control" id="fire" placeholder="Key Result" name="<%=fire.id%>" value="<%=fire.keyResult%>">
    <%})%>
  </div>
    <button type="submit" class="btn-floating btn-large waves-effect waves-light blue darken-4"><i class="material-icons">add</i></button>
</form>

<a href="/profile">&larr; Return to Profile</a>
