

<h3>LOGIN</h3>
<img src="/img/yelredblu.png" alt="target">
<h5>DO OR DO NOT, THERE IS NO TRY</h5>

<div class="form-group">
  <form action="/auth/login" method="POST">
    <label for="login" class="black-text"><h5>EMAIL</h5></label>
    <input type="email" class="form-control" id="login" name="email" placeholder="Type your email">
    <label for="password" class="black-text"><h5>PASSWORD</h5></label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Type your password">
    <button type="submit" class="btn-floating btn-large waves-effect waves-light blue darken-4"><i class="material-icons">add</i></button>
  </form>
</div>

<h5 class="black-text">ALTERNATIVELY SIGN IN ON FACEBOOK </h5>

<a href="/auth/facebook" class="ftn btn-primary"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a>
<hr>







