<div class="white-text card-panel blue darken-4">
<img src="/img/signt.png" alt="sight">
<h3>NEW AIM</h3>
</div>



<form action="/profile" method="POST" role="form">
<div class="card-panel red accent-4">
  <div class="form-group">
    <label for="name">Aim</label>
    <input type="text" class="form-control" id="name" placeholder="INSPIRATIONAL OBJECTIVE" name="objective">
  </div>

  <button type="submit" class="btn blue darken-4">ADD AIM TO PROFILE</button>
    </div>
</form>

<a href="/profile">&larr; Back</a>
