


<img src="/img/yelredblu.png" alt="target">

<div class="form-group">
	<form action="/profile" method="POST" role="form">
    	<label for="name" class="black-text"><h3>NEW AIM</h3></label>
    	<input type="text" class="form-control" id="name" placeholder="INSPIRATIONAL OBJECTIVE" name="objective">
  		<button type="submit" class="btn-floating btn-large waves-effect waves-light yellow accent-4"><i class="material-icons">add</i></button>
	</form>
</div>


