<div class="white-text card-panel blue darken-4">
<h3>NEW AIM</h3>
</div>



<form action="/profile" method="POST" role="form">
<img src="/img/signt.png" alt="sight">
  <div class="form-group">
    <h4 class="white-text"><label for="name">Aim</label>
    <input type="text" class="form-control" id="name" placeholder="INSPIRATIONAL OBJECTIVE" name="objective"></h4>
  </div>

  <button type="submit" class="btn blue darken-4">ADD AIM TO PROFILE</button>
 
</form>

<a href="/profile">&larr; Back</a>
